# Logs & Dumps
logs/
*.log
*.log.gz
crash-reports/

# Cache & Auto-downloaded dependencies
.fabric/
.arclight/
versions/

# Temporary folder
playit/

# Backups
backups/
mods_disabled/

# Temporary databases and locks
*.db-journal
*.db-wal
*.db-shm
*.lock
session.lock
world/**/session.lock
